<h1><%= display_header(@user) %></h1>

<%if !@user%>
  <div>
    <h2>Want to search all recipes by ingredient? Enter the ingredient name below</h2>
    <%=form_tag recipes_path, method: :get, id: "search" do%>
      <%=label_tag :ingredient_name%>
      <%=text_field_tag :ingredient_name, params[:ingredient_name]%>
      <%=submit_tag "Search", name: :search%>
    <%end%>
    <h3><%= link_to "...or create a new recipe!", new_recipe_path%></h3><br>
  </div>
<%else%>
  <h3><%= link_to "Create a new recipe!", new_recipe_path%></h3><br>
<%end%>

<div id = "recipeList">
  <%@recipes.each do |recipe| %>
    <h3><%=display_index_links(recipe)%></h3>
    <div id = "details-<%=recipe.id%>"></div>
    <a href="#" class = "btn ingredientsLink" data-id="<%=recipe.id%>">Show Ingredients</a>
    <a href="#" class = "btn contentLink" data-id="<%=recipe.id%>">Show Instructions</a>
  <%end%>
</div>

<script type="text/javascript" charset = "utf-8">
  $(document).ready(function(){
    
    $('#recipeList').on("click", '.ingredientsLink', function(event){
      event.preventDefault();
      var recipeId = $(this).data("id");
      $.get('/recipes/' +recipeId+ ".json").done(function(response){
        var injectText = "";
        response["recipe"]["recipe_ingredients"].forEach(function(details){
          injectText += "<p><strong>Ingredient:</strong> " + details["ingredient"]["name"]+ " /<strong> Quantity:</strong> " + details["quantity"] + "</p>";
        });
        $('#details-'+recipeId).html(injectText).hide().fadeIn("slow");
      }).fail(function(error){
        alert(error.statusText);
      });
    });

    $('#recipeList').on("click", '.contentLink',function(event){
      event.preventDefault();
      recipeId = $(this).data("id");
      $.get('/recipes/' +recipeId+ ".json").done(function(details){
        $('#details-'+recipeId).html('<p>'+ details["recipe"]["content"]+'</p>').hide().fadeIn("slow");
      }).fail(function(error){
        alert(error.statusText);
      });
    });

    $('#search').on("submit", function(event){
      event.preventDefault();
      $.get('/recipes', {ingredient_name:$('#ingredient_name').val()}).done(function(results){
        var injectText = "";
        if(results["recipes"].length === 0){
          injectText = '<p>No results found</p>';
        }
        else{
          results["recipes"].forEach(function(recipe){
            injectText += '<h3><a href="/recipes/' + recipe["id"]+'">'+ recipe["name"] + '</a></h3>';
            injectText += '<div id ="details-' + recipe["id"] + '"></div>';
            injectText += '<a href="#" class = "btn ingredientsLink" data-id="' + recipe["id"] + '">Show Ingredients</a>';
            injectText += ' <a href="#" class = "btn contentLink" data-id="' + recipe["id"] + '">Show Instructions</a>';
          });
        }
        $('#recipeList').html(injectText).hide().fadeIn("slow");
      }).fail(function(error){
        alert(error.statusText);
      });
    });
  });
</script>

