<h1><%= display_header(@user) %></h1>
<div id = "indexGreeting">
<%if !@user%>
    <h2>Want to search all recipes by ingredient? Enter the ingredient name below</h2>
    <%=form_tag recipes_path, method: :get, id: "search" do%>
      <%=label_tag :ingredient_name%>
      <%=text_field_tag :ingredient_name, params[:ingredient_name]%>
      <%=submit_tag "Search", name: :search%>
    <%end%>
    <h3><%= link_to "...or create a new recipe!", new_recipe_path%></h3><br>
  </div>
<%else%>

  <h3><%= link_to "Create a new recipe!", new_recipe_path%></h3><br>
  </div>
<%end%>

<div id = "recipeList">
  <%@recipes.each do |recipe| %>
    <div class = "recipeItem">
      <h3><%=display_index_links(recipe)%></h3>
      <div id = "details-<%=recipe.id%>"></div>
      <a href="#" class = "btn ingredientsLink" data-id="<%=recipe.id%>">Show Ingredients</a>
      <a href="#" class = "btn contentLink" data-id="<%=recipe.id%>">Show Instructions</a>
    </div>
  <%end%>
</div>

<script type="text/javascript" charset = "utf-8">
  $(document).ready(function(){
    recipeTool = new RecipeFormat();
    
    //click event for More Ingredients
    $('#recipeList').on("click", '.ingredientsLink', function(event){
      event.preventDefault();
      var recipeId = $(this).data("id");
      //get request to .json variant of show for target recipe
      $.get('/recipes/' +recipeId+ ".json").done(function(response){
        //preparing string for markup
        var injectText = recipeTool.ingredientsHtml(response["recipe"]["recipe_ingredients"]);
        //injection of markup, hide container to allow fadein effect
        $('#details-'+recipeId).html(injectText).hide().fadeIn("slow");
      }).fail(function(error){
        alert(error.statusText);
      });
    });

    //click event for Instructions
    $('#recipeList').on("click", '.contentLink',function(event){
      event.preventDefault();
      var injectText = "";
      recipeId = $(this).data("id");

      //same as above get request
      $.get('/recipes/' +recipeId+ ".json").done(function(details){
        //formatter at work, returns html string
        injectText = recipeTool.contentHtml(details["recipe"]["content"]);
        //inject formatted markup
        $('#details-'+recipeId).html(injectText).hide().fadeIn("slow");
      }).fail(function(error){
        alert(error.statusText);
      });
    });

    //click event to submit recipe search query
    $('#search').on("submit", function(event){
      event.preventDefault();
      $.get('/recipes', {ingredient_name:$('#ingredient_name').val()}).done(function(results){ 
        //send results to formatter, returns formatted html string 
        injectText = recipeTool.recipeHtml(results["recipes"]);
        //inject the string to container div, hide and then fade in
        $('#recipeList').html(injectText).hide().fadeIn("slow");
      }).fail(function(error){
        alert(error.statusText);
      });
    });
  });
</script>

