<div>
  <h1><%= @recipe.name%></h1>
  <h3>By: <%=link_to "#{@recipe.user_name}", user_path(@recipe.user)%></h3>

  <h3>Instructions:</h3>
  <h4><%=@recipe.content%></h4>

  <h3>Ingredients</h3>

  <%@recipe.recipe_ingredients.each do |recipe_ingredient|%>
      <h4><%=recipe_ingredient.ingredient_name %>: <%=recipe_ingredient.quantity%></h4>
  <%end%>

  <% if @recipe.user == current_user%>
    <%= link_to "Edit Recipe", edit_user_recipe_path(current_user,@recipe), class: "btn"%>
    <%= link_to "Delete Recipe", user_recipe_path(current_user, @recipe), method: :delete, class: "btn"%>
  <%end%>
</div>

<h1>Comments</h1>
<div id = "commentsList">
  <% @recipe.comments.each do |comment| %>
  <div id = "comment-<%=comment.id%>">
    <h3> <%= comment.user_name %> Says: </h3>
    <div id = "editDiv">
      <h4> <%= comment.content %> </h4>
    </div><br>
    <%if comment.user == current_user%>
      <a href = "#" class = "btn editLink" data-id="<%=comment.id%>" data-user-id="<%=comment.user.id%>">Edit Comment</a>
      <a href = "#" class = "btn deleteLink" data-id="<%=comment.id%>" data-user-id="<%=comment.user.id%>">Delete Comment</a>
    <%end%>
  </div>
  <%end%>
</div>

<div>
  <%if logged_in?%>
  <h3>Leave A Comment</h3>
    <%=render 'comments/comment'%>
  <%end%>
</div>

<script type="text/javascript" charset= "utf-8">
  $(document).ready(function(){
    var commentTool = new CommentFormat();
    
    //click event for submitting new comment
    $('#new_comment').on("submit",function(event){
      event.preventDefault();
      posted_comment = $(this).serialize();
      //post request to create comment based on values in html input elements
      $.post('/comments',posted_comment).done(function(data){
        commentTool.setData(data);

        //formatter at work, returns html string
        var injectText = commentTool.commentHtml();

        $('#commentsList').append(injectText);
        $('#commentsList div:last').hide().fadeIn("slow");
      }).fail(function(error){
        alert("Content must be filled in");
      });
    });
    
    //click event for comment delete
    $('#commentsList').on("click",'.deleteLink',function(event){
      event.preventDefault();
      var deleteUrl = '/comments/' + $(this).data("id");
      
      //saved container div for later fadeout
      var parentDiv = $(this).parent();
      
      $.ajax({
        url: deleteUrl,
        //older browser support. Should I worry about this or is it okay to use type:'DELETE'?
        type: "POST",
        data:{"_method": "DELETE"}
      }).done(function(data){
        //fadeout effect for comment container
        $(parentDiv).fadeOut("slow");
      }).fail(function(error){
        alert(error.statusText);
      });
    });

    $('#commentsList').on("click", '.editLink', function(event){
      event.preventDefault();
      var commentId = $(this).data("id");
      $.get('/users/' + $(this).data("user-id") + '/comments/' + commentId).done(function(comment){
        commentTool.setData(comment);
        var injectText = commentTool.editHtml();
        $('#comment-' + comment["comment"]["id"] + ' #editDiv').html(injectText);
      });
    });

    $('#commentsList').on("submit", '.editComment', function(event){
      event.preventDefault();
      var form = $(this);
      var commentId = $(this).data("id");
      var commentContent = $(this).find('#comment_content').val()
      $.ajax({
        url: '/comments/' + commentId,
        type:'patch', 
        data: {comment_content: commentContent}
      }).done(function(comment){
        form.parent().append('<h4>' +comment["comment"]["content"] + '</h4>');
        form.remove();
      });
    });
  });
</script>

